.banner {
    position: relative;
    
    height: 80vh; /* Ajusta la altura según sea necesario */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px; /* Añade un poco de relleno para evitar que el contenido se pegue a los bordes */
   /* background-color: #000;  Color de fondo por si la imagen no se carga */
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill; /* Asegura que la imagen cubra el área del contenedor */
    z-index: -1; /* Coloca la imagen detrás del contenido */
}

.banner div {
    position: relative;
    z-index: 1; /* Coloca el texto y los botones encima de la imagen */
    color: white;
}

.banner h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.banner button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.banner button:hover {
    background-color: #f40612;
}