body {
    background-image: url('../images/login-background.jpg');
    background-size: cover;
    background-position: center;
}

.navbar {
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    transition: background-color 0.3s ease;
    height: 80px;
}

.login-form {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro para el formulario */
    padding: 50px;
    max-width: 450px;
    margin: auto;
    border-radius: 10px; /* Bordes redondeados */
}

.form-control {
    border: 1px solid #CFCFCF;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco semi-transparente */
    color: white;
    font-size: 16px;
    padding: 20px 15px 10px 10px;
    height: auto;
}

.form-control::placeholder {
    color: white;
    font-size: 10px;
    opacity: 1;
}

.form-control:focus {
    color: white;
    border-color: #CFCFCF;
    background-color: rgba(255, 255, 255, 0.3); /* Fondo más claro al enfocar */
    outline: 2px solid white; 
    outline-offset: 2px; 
}

.btn {
    margin-top: 15px;
    font-weight: 500;
    background-color: #E50914;
    padding-bottom: 7px;
    padding-top: 7px;
    border: none;
}

.link-transparent {
    background-color: transparent;
    border-color: transparent;
    color: white;
    text-decoration: none;
    text-align: center;
}

.link-transparent:hover {
    text-decoration: underline;
    color: white;
}

.footer {
    background-color: #000;
    color: #CFCFCF;
    padding-top: 25%;
    padding-bottom: 5%;
    text-align: left;
}

.footer .container {
    max-width: auto;
}

.footer a {
    color: #CFCFCF;
    text-decoration: underline;
    padding: 10px 0;
    display: block;
}

.footer a:hover {
    color: #CFCFCF;
}

.footer .contact-info {
    white-space: nowrap;
}

@media (min-width: 768px) {
    .footer .row {
        display: flex;
        flex-wrap: wrap;
    }

    .footer .col {
        flex: 0 0 25%;
        max-width: 25%;
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    .footer .col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
