body {
    background-color: #ffffff;
}
.main-container {
    max-width: 400px;
    margin: 20px auto; /* Cambia 'margin-top' a 'margin' con 'auto' para centrar horizontalmente */
    background-color: white;
    padding: 40px;
    border-radius: 8px;
}
.navbar-brand img {
    margin-right: 10px;
}
.step-info {
    text-align: center;
    margin-bottom: 20px;
}
.step-info h4 {
    margin-bottom: 5px;
}
.step-info p {
    color: #666;
}
/* Sección de imagen de dispositivos */
.device-icons {
    background-image: url('your_image_link_here'); /* Reemplaza con el link de tu imagen */
    background-size: cover;
    background-position: center;
    height: 120px;
    margin-bottom: 5px;
}
.btn-next {
    background-color: #e50914;
    color: white;
    font-weight: 400;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.btn-next1 {
    background-color: #a5a5a5;
    color: white;
    font-weight: 400;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.btn-next1:hover {
    color: white;
}
.footer {
    background-color: #f0f0f0;
    color: #7e7e7e;
    padding-top: 25%;
    padding-bottom: 5%;
    text-align: left;
 
 }
 
 .footer .container {
    max-width: auto;
 }
 
 .footer-title {
    font-weight: bold;
 }
 
 .footer a {
    color: #7e7e7e;
    text-decoration: underline;
    padding: 10px 0;
    display: block;
 }
 
 .footer a:hover {
    color: #7e7e7e; /* Color del enlace al pasar el cursor */
 }
 
 .footer .contact-info {
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
 }
 
 @media (min-width: 768px) {
    .footer .row {
        display: flex; /* Usar flexbox para pantallas grandes */
        flex-wrap: wrap; /* Permitir que las columnas se envuelvan */
    }
 
    .footer .col {
        flex: 0 0 25%; /* Cuatro columnas en pantallas grandes */
        max-width: 25%; /* Cuatro columnas en pantallas grandes */
        padding: 0 10px; /* Espacio horizontal entre columnas */
    }
 }
 
 @media (max-width: 768px) {
    .footer .col {
        flex: 0 0 50%; /* Dos columnas en pantallas pequeñas */
        max-width: 50%; /* Dos columnas en pantallas pequeñas */
    }
 }
 